@font-face {
  font-family: 'Poppins';
  src: url('../../shared/assets/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../shared/assets/fonts/Poppins-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../shared/assets/fonts/Poppins-SemiBold.woff2') format('woff2');
  font-weight:600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../shared/assets/fonts/Poppins-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// 100	Тонкий (Волосяной) Thin (Hairline)
// 200	Дополнительный светлый (Сверхсветлый) Extra Light (Ultra Light)
// 300	Светлый Light
// 400	Нормальный Normal
// 500	Средний Medium
// 600	Полужирный SemiBold (Demi Bold)
// 700	Жирный Bold
// 800	Дополнительный жирный (Сверхжирный) Extra Bold (Ultra Bold)
// 900	Чёрный (Густой) Black (Heavy)