*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  height: 100%;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--color-black);
  background-color: var(--color-bg);
  line-height: 1.7;
  min-height: 100%;
  font-size: 16px;

  &.is-lock {
    overflow: hidden
  }
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600
}

.h2 {
  font-size: fluid(34, 28);
  color: var(--colro-dark);
}

.h3 {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--color-black);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  margin: 0;
  padding: 0;


  &:hover {
    color: var(--color-gray);
  }
  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: 2px dashed var(--color-light);
  outline-offset: 4px;
  transition-duration: 0s !important;
}

a,
button {
  border: none;
  background: transparent;
  &[aria-label] {
    position: relative;
    &::before {

      content: '';
    }
  }

}

section {
  scroll-margin-top: 100px;
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
label {
  cursor: pointer;
}

ul {
  list-style-type: none;
}