:root {

  --color-black: #000000;
  --color-light: #ffffff;
  --color-gray: #828282;
  --colro-dark: #070707;
  --color-bg: #F1F1F1;

  --font-family: Poppins, sans-serif;

  --transition-duration: 0.2s;

  --container-width: 1170px;
  --container-padding-x: 15px;
}