.burger-button {
  @include square(34px);

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;
  position: relative;
  z-index: 102;
  color: var(--color-black);
  background-color: transparent;
  border: none;

  @include hover {
    color: var(--color-gray);
  }

  &__line {
    width: 100%;
    height: 3px;
    background-color: currentColor;
    border-radius: 1rem;
    transition-duration: var(--transition-duration);

    &:last-child {
      align-self: end;
      width: 55%;
    }
  }

  &--active {
    .burger-button__line {
      &:first-child {
        transform: rotate(45deg) translateY(12.5px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        width: 100%;
        transform: rotate(-45deg) translateY(-13px);
      }
    }
  }
}