.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding-block: 7px;
  padding-inline: fluid-to-laptop(22, 18);

  font-family: inherit;
  font-size: fluid(18, 16);
  font-weight: 500;

  border: 2px solid transparent;
  border-radius: 8px;

  cursor: pointer;
  transition: all var(--transition-duration);

  text-decoration: none; // для ссылок

  &--primary {
    background: var(--colro-dark);
    color: var(--color-light);
    border-radius: 50px;

    &:hover {
      background: var(--color-gray);
      color: var(--colro-dark);
    }
  }

  &--secondary {
    background: var(--color-secondary);
    color: var(--color-light);

    &:hover {
      background: var(--color-secondary-dark);
    }
  }

  &--outline {
    background: transparent;
    color: var(--colro-dark);
    border-color: var(--colro-dark);

    &:hover {
      background: var(--colro-dark);
      color: white;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
}