.skill-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 370px;

   &__icon {
     margin-bottom: 30px;
   }

  &__title {
    margin-bottom: 10px;
  }
}